---
import { supabase } from "../../lib/supabase.js";
import NotificationCard from "../../componets/pageNotification/NotificationCard.astro";
import BaseLayout from "../../layout/BaseLayout.astro";

const itemsPerPage = 3;

// Get current page from the route param
const page = parseInt(Astro.params.page) || 1;

// Fetch total count for pagination
const { count } = await supabase
.from("notifications")
.select("*", { count: "exact", head: true });

// Calculate total pages
const totalPages = Math.ceil(count / itemsPerPage);

// Calculate range for current page
const start = (page - 1) * itemsPerPage;
const end = start + itemsPerPage - 1;

// Fetch notifications for current page
const { data: notifications } = await supabase
.from("notifications")
.select("*")
.order("search_id", { ascending: true })
.range(start, end);
---

<BaseLayout>

    <main class="pt-48 pb-16 bg-linear-to-b from-gray-50 to-white min-h-screen">
        <div class="max-w-7xl mx-auto px-6 text-center">
            <h1 class="text-5xl md:text-6xl font-bold">Latest News & Announcements</h1>
            <p class="text-xl text-gray-600 mt-4">Stay updated with Darul Uloom Bilaliya</p>

            <!-- Pagination -->
            <div class="flex justify-center mt-12 gap-2 flex-wrap md:hidden">
                {Array.from({ length: totalPages }, (_, i) => {
                const pageNumber = i + 1;
                return (
                <a
                    class={`px-4 py-2 rounded hover:bg-gray-300 ${pageNumber === page ? "bg-gray-400" : "bg-gray-200"}`}
                    href={`/notifications/${pageNumber}`}
                    >
                    {pageNumber}
                </a>
                    );
                    })}
            </div>


            <div class="grid gap-8 mt-12 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                {notifications && notifications.length > 0
                ? notifications.map((n) => <NotificationCard notification={n} />)
                : <p class="text-gray-500 mt-12 text-lg ">No notifications found.</p>}
            </div>

            <!-- Pagination -->
            <div class="flex justify-center mt-12 gap-2 flex-wrap">
                {Array.from({ length: totalPages }, (_, i) => {
                const pageNumber = i + 1;
                return (
                <a
                    class={`px-4 py-2 rounded hover:bg-gray-300 ${pageNumber === page ? "bg-gray-400" : "bg-gray-200"}`}
                    href={`/notifications/${pageNumber}`}
                    >
                    {pageNumber}
                </a>
                    );
                    })}
            </div>

        </div>

    </main>

</BaseLayout>
